@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+HU:wght@100..400&display=swap');

:root {
    --azul: #26547cff;
    --rosa: #ef476fff;
    --amarelo: #ffd166ff;
    --verde: #06d6a0ff;
    --branco: #ffffff;
    --preto: #000000;
    --titulo: "Playwrite HU", cursive;
    --texto: "Josefin Sans", sans-serif;
}

body{
    background-color: var(--verde);
    font-family: var(--texto);
    margin: 0;
    padding: 0;
    color: var(--preto);
}
header{
    background-color: var(--amarelo);
    padding: 20px;
    text-align: center;
    color: var(--preto);
    font-family: var(--titulo);
}
img{
    width: 50%;
    border-radius: 15px;
    box-shadow: 2px 2px 10px var(--amarelo);
}
.principal{
    padding: 5em 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.poema.ativo{
    display: block;
}
.poema{
    display: none;
}

.poema h3{
    font-family: var(--titulo);
    font-size: 2.5em;
}

.poema h4{
    font-size: 0.5;
    font-style: italic;
}

.poema p{
    font-size: 1.5em;
    padding: 5px 33.3%;
}

button{
    padding: 1em;
    background-color: var(--rosa);
    font-family: var(--titulo);
    font-size: 1em;
    border: none;
    border-radius: 5px 5px 0 5px;
    color: var(--branco);
}

button:hover{
    background-color: var(--amarelo);
    color: var(--preto);
    transition: 0.5s;
    cursor: pointer;
}